 
*{
    box-sizing: border-box;
}

body{
    font-family: arial;
    margin: 0;

}
/* ------------------------------------------------- */
nav{
    display: flex;
    background: #ff5353;
    padding: 20px 10px;
    width: 100%;
    justify-content: space-between;

}
nav ul{
    display: flex;
    max-width: 960px;
    padding: 0;
    justify-self: start;
}
nav li{
    list-style-type: none;
    display: block;
    margin: 0 10px 0 0;
}
nav a{
    color: #fff;
    font-size: 18px;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
}
nav>div {
    align-self: center;
    padding: 10px;
}
/* -------------------------------------------------------- */



